<div class="container pt-5">
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/5/75514-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Camisa 1</h4>
                <p>Precio: $60.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/3/73266-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Camisa 2</h4>
                <p>Precio: $75.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/3/73693-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Camisa 3</h4>
                <p>Precio: $55.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/3/73881-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Camisa 4</h4>
                <p>Precio: $45.000</p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container pt-5">
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/2/72883-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Pantalon 1</h4>
                <p>Precio: $110.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/3/73741-3.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Pantalon 2</h4>
                <p>Precio: $175.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/1/71666-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Pantalon 3</h4>
                <p>Precio: $155.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/5/75091-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Pantalon 4</h4>
                <p>Precio: $145.000</p>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container pt-5">
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/0/70314-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Chaqueta 1</h4>
                <p>Precio: $210.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/2/72819-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Chaqueta 2</h4>
                <p>Precio: $275.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/0/70555-4.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Chaqueta 3</h4>
                <p>Precio: $255.000</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                 <img src="https://www.mattelsa.net/media/catalog/product/cache/11dadf1c318faa12046dcbbf38b711fe/7/2/72820-1.jpg"
          alt="Login image" class="w-100 vh-300" style="object-fit: cover; object-position: left;">
                <h4 class="card-title">Producto: Chaqueta 4</h4>
                <p>Precio: $245.000</p>
            </div>
        </div>
    </div>
</div>
</div>