<!-- Masthead-->
        <header class="masthead bg-white text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="mw-10" src="img/LogoStyle.svg" width="1400px" alt="Max-width 100%" />
                <!--img class="masthead-avatar mb-5" src="https://upload.wikimedia.org/wikipedia/commons/7/77/Google_Images_2015_logo.svg" alt="..." /-->
                
            </div>
        </header>