<div class="mt-5">
    <section class="h-100 bg-image"
    style="background-image: url('https://www.mattelsa.net/media/Home/ppaldesktop23062023.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card mt-4" style="border-radius: 15px;">
                <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Ahoa Solo Debes De Preocuparte De Donde Lucir Tu Outfit</h2>
                <h2 class="text-uppercase text-center mb-5">Registrate</h2>

                <form action="/register" method="POST">

                    <div class="form-outline mb-4">
                    <input type="text" name="nombre" placeholder="Ejemplo: Pomelo Alegria" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Nombre</label>
                    </div>

                    <div class="form-outline mb-4">
                    <input type="email" name="correo" placeholder="Ejemplo: PomeloAlegria@gmail.com" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Correo Electrónico</label>
                    </div>

                    <div class="form-outline mb-4">
                    <input type="password" name="password" placeholder="Ejemplo: PomeloAlegri@43" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg">Contraseña</label>
                    </div>

                    <div class="form-outline mb-4">
                    <input type="password" name="password2" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cdg">Repetir contraseña</label>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                        Acepto Todos Los <a href="#!" class="text-body"><u>Terminos y Condiciones</u></a>
                    </label>
                    </div>

                    <div class="d-flex justify-content-center">
                    <button type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrarse</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Ya Tienes Cuenta? <a href="/login"
                        class="fw-bold text-body"><u>Ingresa Aquí</u></a></p>

                </form>

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
</div>
